configparser==7.0.0
pytz
pandas==2.2.2
SQLAlchemy==2.0.30
pyodbc==5.1.0
snowflake-connector-python==3.10.1
PyMySQL==1.1.1
boto3==1.34.127
python-dotenv==1.0.1
jupyter==1.0.0
streamlit==1.35.0
ydata-profiling==4.8.3
streamlit-ydata-profiling>=0.2.1
dtale==3.12.0